.main-bg {
  height: 300px;

  background-image: url(./img/title.jpg);
  background-size: cover;
  background-position: center ;

  display: block;
  margin: 0px auto;
}


.almond {
  width: 33.33%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url(./img/almond.jpg);
}

.cashew {
  width: 33.33%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/cashew.jpg);

}

.hodu {
  width: 33.33%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: url(./img/hodu.jpg);
}

.productDescription{
  color: aliceblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#282c34;
}






