.main-bg {
  height: 300px;

  background-image: url(./img/title.jpg);
  background-size: cover;
  background-position: center ;

  display: block;
  margin: 0px auto;

}


img{
    margin-top: 10px;
    width: 40vh;
    height: 500px;
    /* background-size: cover; */
    /* background-position: center; */
    border-radius: 10%;
 } 



/* .productDescription{
  color: aliceblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:#282c34;
  font-size: 40px;
  font-weight: bold;
}

.price {
  font-size: 24px;
  font-weight: bold;} */






.App {
  text-align: center;
}
